/* ``` */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?8x4iw6');
    src:  url('../fonts/icomoon.eot?8x4iw6#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?8x4iw6') format('truetype'),
      url('../fonts/icomoon.woff?8x4iw6') format('woff'),
      url('../fonts/icomoon.svg?8x4iw6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-envelope:before {
    content: "\e900";
  }
  .icon-info-circle:before {
    content: "\e901";
  }
  .icon-caret-up:before {
    content: "\e902";
  }
  .icon-angle-down:before {
    content: "\e903";
  }
  .icon-camera:before {
    content: "\e904";
  }
  .icon-chat:before {
    content: "\e905";
  }
  .icon-clock:before {
    content: "\e906";
  }
  .icon-desktop:before {
    content: "\e907";
  }
  .icon-flag:before {
    content: "\e908";
  }
  .icon-gears:before {
    content: "\e909";
  }
  .icon-heart:before {
    content: "\e90a";
  }
  .icon-hotairballoon:before {
    content: "\e90b";
  }
  .icon-linegraph:before {
    content: "\e90c";
  }
  .icon-quote:before {
    content: "\e90d";
  }
  .icon-strategy:before {
    content: "\e90e";
  }
  .icon-tools:before {
    content: "\e90f";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-location:before {
    content: "\e947";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-behance:before {
    content: "\eaa8";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  .icon-pinterest:before {
    content: "\ead1";
  }
  
  
/* 6666 */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font: 300 15px 'Open Sans', Arial, helvetica, sans-serif;
    line-height: 1.7;
    width: 100%;
    background-color: #fff;
    color: #777;
}

.wrapper {
    display: flex;
    flex-direction: column;
    widows: 100%;
    overflow: hidden;
    min-height: 100vh;   /*ширина окна */
}

.wrapper_fix {
    display: flex;
}

.header,
.footer {
    width: 100%;
    flex-shrink: 1;
}

.main {
    flex-grow: 1;
    width: 100%;;
}

h1 {
    color: #fff;
    font: 30px 'Dosis',  Arial, helvetica, sans-serif; 
    letter-spacing: 1.7em;
    text-transform: uppercase;
}

h2 {
    color: #111111;
    font: 18px 'Dosis',  Arial, helvetica, sans-serif; 
    letter-spacing: .5em;
    text-transform: uppercase;
    
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
}

blockquote {
    quotes: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px ;

}

.logo{
    
    padding-left: 31px;
}

.header {
    padding: 24px 0;
    position: relative;
    z-index: 2;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.header_nav-list{
    font: 11px 'Open Sans',  Arial, helvetica, sans-serif; 
    display: flex;
    color: #fff;
    letter-spacing: .3em;
}

.header_nav-link{
    text-transform: uppercase;
    padding: 17px;
    padding-top: 35px;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
}

.hero_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero {
    margin-top: -69px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
}


.hero_content {
    padding-bottom: 100px;
    text-align: center;
}

.hero_text {
    color: #d2d2d2;
    font: 19px 'Open Sans',  Arial, helvetica, sans-serif;
}

.row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

[class^="col"] {
    padding: 0 15px;
}

.col--1-3{
    width: calc(100% / 3);
}

.hero_down {
    position: absolute;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    z-index: 2;
}

.hero_down:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
    transform: rotate(45deg);
    display: block;
}

.hero_down i {
    position: absolute;
    bottom: 0;
    color: #000;
    left: 50%;
    transform: translateX(-50%);
}

/* tabssss */

.section.services h2 {
    margin-bottom: 207px;
}

.tabs_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.tabs_list-item {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 5px;
}

.tabs_list-item a{
    position: relative;
}

.eer_1:before {
    content: '\e90e';
    font-family: 'icomoon';
    position: absolute;
    color: #000;
    font-size: 50px;
    top: -85px;
}

.eer_2:before {
    content: '\e907';
    font-family: 'icomoon';
    position: absolute;
    color: #000;
    font-size: 50px;
    top: -85px;
    left: 8px;
}

.eer_3:before {
    content: '\e90f';
    font-family: 'icomoon';
    position: absolute;
    color: #000;
    font-size: 50px;
    top: -85px;
    left: 25px;
}
.eer_4:before {
    content: '\e909';
    font-family: 'icomoon';
    position: absolute;
    color: #000;
    font-size: 50px;
    top: -85px;
    left: 12px;
}

.eer_5:before {
    content: '\e904';
    font-family: 'icomoon';
    position: absolute;
    color: #000;
    font-size: 50px;
    top: -85px;
    left: 12px;
}

.tabs_link {
    transition: opacity .3s ease;
    font: 14px 'Dosis', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: .04em;
    text-transform: uppercase;
    opacity: 0.5;
}

.tabs_link.tab-active {
    opacity: 1;
}

.tabs_content-item:not(.tab-active) {
    display: none;
}

.tabs_content-item.tab-active {
    display: block;
}

.tabs_content-item.tab-active_2 {
    display: block;
}
/* tabssss */

/* {{font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;}} */

/* =========================================================container_2- второй блок */

.about_studio_txt{
    padding-top: 140px;
    padding-bottom: 77px;
    font: 11px 'Dosis', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: .05em;
}

.about_studio_text_1{
    text-align: left;
    color: #9b9b9b;
    font: 15px 'Open Sans';
    padding-bottom: 114px;
}

.text_img{
    text-align: center;
    font: 15px 'Dosis', Arial, Helvetica, sans-serif;
    color: #777777;
    text-transform: uppercase;
    letter-spacing: .4em;
}

.text_img_2 {
    font: 12px 'Dosis', Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: .4em;
    margin: 0;
    text-transform: uppercase;
}

.section {
    padding: 135px;
}

/* section class="section services"====================== */
.tabs_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.section_title {
    margin-bottom: 70px;
}

.section_title--alt{
    margin-bottom: 20px;
    color: #fff;
}

.section_title-incored{
    position: relative;
    padding-top: 54px;
    line-height: 1;
    margin-bottom: 30px;
}

.section_title-incored:before {
    content: '\e90d';
    font-family: 'icmoon';
    color: #fff;
}

.text_centr {
    text-align: center;
}

.tabs_list-items {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 5px;
}

.tabs_link {
    font: 14px 'Dosis', Arial, Helvetica;
    color: #111111;
    letter-spacing: .04em;
    text-transform: uppercase;
    opacity: 0.5;
}

.tabs_link.tab-active {
    opacity: 1;
}

.tabs_content-item {
    display: none;
}

/* Section_3-Exclusive========================================= */
.section {
    padding: 135px 0;
}

.section_title {
    margin-bottom: 70px;
}

.exclusive {
    min-height: 445px;
    background-color: #000;
    color: #fff;
    padding: 0;
}

.exclusive_container {
    position: relative;
    padding-bottom: 135px;
    padding-top: 135px;
}

.exclusive_row {
    align-items: center;
}

.exclusive p {
    margin: 0;
}

.exclusive_img {
    position: absolute;
    top: -30px;
    right: 15px;
}

.exclusive p:last-of-type {
    margin-bottom: 30px;
}

.section_title--alt {
    margin-bottom: 20px;
    color: #fff
}

.btn_base {
    text-transform: uppercase;
    transition: background-color .3s ease;
    color: #000;
    min-height: 40px;
    min-width: 170px;
    padding: 2px 5px;
    background-color: #cfcfcf;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .02em; 
}

.btn_base:hover {
    cursor: pointer;
    background-color: red;
}

@media (max-width: 1179px) {
    
    .exclusive_img {
        max-width: calc(50% - 60px);
    }
}

.col--1-3 {
    width: calc(100% / 3);
}

.col--1-2 {
    width: 50%;
}

[class^="col"] {
    padding: 0 15px;
}
/* Section_3-Exclusive====================================== */

/* section_4 */

.portfolio {
    padding-top: 140px;
}

.portfolio_h2 {
    text-align: center;
    margin-bottom: 80px; 
}

.portfolio_text {
    max-width: 760px;
    font: 15px 'Open Sans', Arial, helvetica, sans-serif;
    color: #a2a2a2;
    opacity: 0.5;
    padding-bottom: 86px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.container_760 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.tabs_content-item .tab-active_2 img {
    display: flex;
}
/* #tab-4_2 {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100vh;
} */

.portfolio_section {
    min-height: 100vh;
}

.img_tabs_2{
    display: flex;
    flex-wrap: wrap;
}

.container_2 {
    max-width: 1600px;
    margin: 0 auto;
}


/* tabssss */

.tabs_list_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.tabs_list-item_2 {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 5px;
}

.tabs_link_2 {
    transition: opacity .3s ease;
    font: 14px 'Dosis', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: .04em;
    text-transform: uppercase;
    opacity: 0.5;
}

.tabs_link.tab-active_2 {
    opacity: 1;
}

.tabs_content-item_2:not(.tab-active) {
    display: none;
    
}

/* Section_Like Our Creative Works?============================== */

.Like_Our_Creative_Works {
    background-color: rgb(5, 5, 5);
}

.Like_Our_Creative_Workss {
    text-align: center;
    color: #fff;
    font: 18px 'Dosis', Arial, helvetica, sans-serif;
    letter-spacing: .3em;
    padding-top: 70px;
    margin-bottom: 25px;
}

.form_btn.Like_Our_Creative_Works_btn {
    background-color: #cfcfcf;
    color: #000;
    right: 50%;
    margin-bottom: 70px;
}

.btn_center {
    display: flex;
    justify-content: space-evenly;
}
/* Section_Like Our Creative Works?============================== */
/* section benefits===section benefits===section benefits */

.cection_title {
    text-align: center;
    margin-bottom: 90px;
}

.benefits_block {
    text-align: center;
    margin-bottom: 70px;
}

.benefits_block i {
    font-size: 50px;
    color: #111111;
    margin-bottom: 30px;
    display: block;
}

.benefits_title {
    margin-bottom: 24px;
    color: #111111;
    font: 14px 'Dosis', Arial;
    text-transform: uppercase;
    letter-spacing: .4em;
}

.benefits_text {
    font-size: 14px;
    font-weight: 300;
    color: #777;
    text-align: left;
}
/* slider==================================================================== */
.text-center {
    text-align: center;
}

.testimonials {
    background-color: rgb(0, 0, 0);
    padding: 130px 0 30px;
    position: relative;
}

.slick-dots {
    margin: 10px 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li.slick-active button {
    background-color: transparent;
}

.slick-dots button {
    transition: background-color .3s ease;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    margin: 0 3px;
    padding: 0;
    outline: none;
    font-size: 0;
    text-indent: -999px;
    overflow: hidden;
}

.testimonials_arrow {
    transition: opasity .3 ease;
    position: absolute;  
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.testimonials_arrow i {
    transform-origin: center center;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    left: 40px;
    color: #000;
    font-size: 16px;
}

.testimonials_arrow:hover {
    opacity: 0.7;
}

.testimonials_arrow:before {
    content: '';
    background-color: #fff;
    width: 60px;
    height: 60px;
    transform-origin: center center;
    transform: rotate(45deg);
    display: block;
}

.testimonials_arrow.testimonials_next {
    left: auto;
    right: -30px;
}

.testimonials_arrow.testimonials_next i {
    left: auto;
    right: 40px;
    transform: translateY(-50%) rotate(-90deg);
}

.testimonial_text {
    color: rgba(255,255,255,.75);
    font-size: 18px;
}

.testimonial_autor {
    color: rgba(255,255,255,.3);
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .2em;
    line-height: 1;
    margin-top: 20px;
    font-style: normal;
}

.testimonial {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 190px;
}

.section_title--iconed {
    position: relative;
    padding-top: 54px;
    line-height: 1;
    margin-bottom: 30px;
}
.section_title--iconed:before {
    content: '\e90d';
    font-family: 'icomoon';
    color: #fff;
    font-size: 34px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* slider==================================================================== */
/* Last_News================================================================= */
.section_last_news {
    padding-bottom: 140px;
}

.LN {
    display: flex;
    padding-top: 135px;
    justify-content: space-between;
    padding-bottom: 75px;
}

.LN a {
    text-transform: uppercase;
    font: 14px 'Dosis',  Arial, helvetica, sans-serif;
    color: #a0a0a0;
}

.title_News {
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 30px;
    padding-bottom: 20px;
    font: 14px 'Dosis',  Arial, helvetica, sans-serif;
    color: #777;
}

.autor_data_News {
    text-transform: uppercase;
    padding-bottom: 30px;
}

.btn_base_News {
    font: 11px 'Open-Suns',  Arial, helvetica, sans-serif;
    text-transform: uppercase;
    transition: background-color .3s ease;
    color: #777;
    margin-top: 30px;
    min-height: 25px;
    min-width: 120px;
    padding:  5px;
    background-color: #e5e5e5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .02em;
}

.btn_base_News:hover {
    cursor: pointer;
    background-color: red;
}
/* Last_News================================================================= */
/* section class="stay_informed"============================================= */
.stay_informed {
    background-color: #f8f8f8;
}

.stay_informed_txt {
    color: #111111;
    font: 16px 'Dosis',  Arial, helvetica, sans-serif; 
    letter-spacing: .3em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 20px;
}

.stay_informed_txt_2 {
    color: #aaaaaa;
    font: 11px 'Open Sans',  Arial, helvetica, sans-serif; 
    text-align: center;
    padding-bottom: 85px;
}

.stay_informed_txt_2::before {
    content: '\e901';
    font-family: 'icomoon';
    color: #aaaaaa;
}

.functional {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.stay_informedd {
    width: 295px;
    margin-right: 7px;
}
/* section class="stay_informed"============================================= */
/* Section_Contact=========================================================== */
.section_contact {
    padding-top: 140px;
}

.contact_icon {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 20px; 
}

.contact_icon:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 3px;
    transform: rotate(45deg);
    display: block;
}

.contact_icon span {
    position: absolute;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.contact_block {
    display: flex;
    align-items: flex-start;
}

.contact_title {
    color: #777;
    font: 12px 'Dosis', Arial, Helvetica;
    letter-spacing: .3em;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
}

.contact_link {
    color: #000;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
}

.contact_link:hover {
    text-decoration: underline;
}

.form_input {
    transition: border-color .3s ease;
    border: 1px solid #e5e5e5;
    background-color: rgb(255, 255, 255);
    color: #444;
    height: 36px;
    padding: 6px 14px;
    line-height: 24px;
    font: 12px 'Dosis', Arial, Helvetica;
    letter-spacing: .2em;
    text-transform: uppercase;
    width: 100%;
    display: block;
    box-shadow: none;
    margin-bottom: 10px;
}

.form_input--area {
    height: 82px;
    resize: none;
}

.contact_form {
    padding-top: 70px;
}

.form_input:focus {
    border-color: rgb(0, 0, 0);
}

.form_input::placeholder{
    color: rgb(121, 121, 121);

}

.form_btn {
    background-color: #000;
    transition: background-color .4s ease;
    color: #fff;
    height: 36px;
    padding: 10px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font: 13px 'Dosis', Arial, Helvetica;
    line-height: 1;
    letter-spacing: .2em;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 3px;
}

.form_btn:hover {
    background-color: #999;
}

.form_footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

/* Section_Contact=========================================================== */
/* Contact_map=============================================================== */
.contact_map_txt {
    text-align: center;
}

.contact_map-holder {
    position: relative;
    margin-top: 140px;
}

.contact_map {
    width: 100%;
    min-height: 410px;
}

.contact_map-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,0,0,.9);
    color: #fff;
    text-transform: uppercase;
}

.footer_icon_6 {
    margin-right: 20px;
    border: solid 2px;
    background-color: #fff;
    min-width: 32px;
    min-height: 32px;
    transform-origin: center center;
    transform: rotate(45deg);
    position: relative;
    border-radius: 5px;
    margin-left: 20px;
    z-index: 5;
    bottom: 50px;
    left: 90px;
}

.footer_icon_6:before{
    content: '\e947';
    font-family: 'icomoon';
    color: rgb(0, 0, 0);
    position: absolute;
    left: 6px;
    right: 3px;
    transform: rotate(-45deg);

}
/* Contact_map=============================================================== */
/* fooooter================================================================== */

.footer {
    min-height: 430px;
}

.logo_footer {
    display: flex;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 30px;
}

.contact_icons {
    display: flex;
    justify-content: center;
}

.footer_icon_1 {
    margin-right: 20px;
    border: solid 2px;
    border-color: #777;
    min-width: 32px;
    min-height: 32px;
    transform-origin: center center;
    transform: rotate(45deg);
    position: relative;
    border-radius: 5px;
    margin-left: 20px;
}

.footer_icon_1:before{
    content: '\ea90';
    font-family: 'icomoon';
    position: absolute;
    color: #000;
    left: 6px;
    right: 3px;
    transform: rotate(-45deg);
}

.colors:hover {
    background-color: #777;
}

.footer_icon_2 {
    margin-right: 20px;
    border: solid 2px;
    border-color: #777;
    min-width: 32px;
    min-height: 32px;
    transform-origin: center center;
    transform: rotate(45deg);
    position: relative;
    border-radius: 5px;
}

.footer_icon_2:before{
    content: '\ea96';
    font-family: 'icomoon';
    position: absolute;
    left: 6px;
    right: 3px;
    transform: rotate(-45deg);
    color: #000;
}

.footer_icon_3 {
    margin-right: 20px;
    border: solid 2px;
    border-color: #777;
    min-width: 32px;
    min-height: 32px;
    transform-origin: center center;
    transform: rotate(45deg);
    position: relative;
    border-radius: 5px;
}

.footer_icon_3:before{
    content: '\eaa8';
    font-family: 'icomoon';
    position: absolute;
    left: 6px;
    right: 3px;
    transform: rotate(-45deg);
    color: #000;
}

.footer_icon_4 {
    margin-right: 20px;
    border: solid 2px;
    border-color: #777;
    min-width: 32px;
    min-height: 32px;
    transform-origin: center center;
    transform: rotate(45deg);
    position: relative;
    border-radius: 5px;
}

.footer_icon_4:before{
    content: '\eaca';
    font-family: 'icomoon';
    position: absolute;
    left: 6px;
    right: 3px;
    transform: rotate(-45deg);
    color: #000;
}

.footer_icon_5 {
    margin-right: 20px;
    border: solid 2px;
    border-color: #777;
    min-width: 32px;
    min-height: 32px;
    transform-origin: center center;
    transform: rotate(45deg);
    position: relative;
    border-radius: 5px;
}

.footer_icon_5:before{
    content: '\ead1';
    font-family: 'icomoon';
    position: absolute;
    left: 6px;
    right: 3px;
    transform: rotate(-45deg);
    color: #000;
}

.txt {
    text-align: center;
    
}

.tta{
    text-transform: uppercase;
    padding-top: 110px;
    margin-bottom: 5px;
    margin-top: 0px;
    font: 12px 'Dosis',  Arial, helvetica, sans-serif;
    color: rgb(5, 5, 5);
    letter-spacing: .5em;
}

.tta_2 {
    font: 11px 'Dosis',  Arial, helvetica, sans-serif;
}
/* fooooter================================================================== */
/* section_contact===section_contact====section_contact */